@import url(./vendor/normalize.css);

:root {
  --main-tx-color: #e4e5ea;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0e1014;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
